{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": "last 1 Chrome versions"
                },
                "modules": "commonjs"
            }
        ]
    ]
}